<div class="alert" *ngIf="this.mainAlert" [ngClass]="this.mainAlert.type ? 'alert-' + this.mainAlert.type : ''">
    <span>{{ this.mainAlert.message }}</span>
    <span class="fill-remaining-space"></span>
    <button mat-raised-button (click)="this.mainAlertDismiss()">&times;</button>
</div>

<form class="form form-registration" [formGroup]="this.form" (ngSubmit)="this.changeCredentials()">
    <mat-card>
        <mat-card-header>Change credentials</mat-card-header>
        <mat-divider class="horizontal-line"></mat-divider>

        <mat-card-content>
            <div class="form-field-group">
                <div class="mat-caption">Change username, password or both credentials?</div>
                <mat-radio-group aria-label="Select an option" formControlName="changeType">
                    <mat-radio-button value="username">username only</mat-radio-button>
                    <mat-radio-button value="password">password only</mat-radio-button>
                    <mat-radio-button value="both">both</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="form-field-group">
                <!--New username-->
                <mat-form-field appearance="fill" class="form-field form-field-whole">
                    <mat-label>New username</mat-label>
                    <input matInput formControlName="newUsername" required (input)="this.clearUniqueError('newUsername')">
                    <mat-error *ngIf="this.newUsername?.errors?.required">New username is required.</mat-error>
                    <mat-error *ngIf="this.newUsername?.errors?.forbidden">This username is forbidden.</mat-error>
                    <mat-error *ngIf="this.newUsername?.errors?.unique">This username already exists. Provide other.</mat-error>
                </mat-form-field>
            </div>
            <div class="form-field-group">
                <!--Current password-->
                <mat-form-field appearance="fill" class="form-field form-field-whole">
                    <mat-label>
                        <span *ngIf="this.changeType.value !== 'username'">Current password</span>
                        <span *ngIf="this.changeType.value === 'username'">Password</span>
                    </mat-label>
                    <input matInput formControlName="currentPassword" type="password" required>
                    <mat-error *ngIf="this.currentPassword?.errors?.required">
                        <span *ngIf="this.changeType.value !== 'username'">Current password</span>
                        <span *ngIf="this.changeType.value === 'username'">Password</span> is required.
                    </mat-error>
                    <mat-error *ngIf="this.currentPassword?.errors?.password">
                        Cannot change credentials. Wrong current password provided.</mat-error>
                </mat-form-field>
            </div>
            <div class="form-field-group">
                <!--New password-->
                <mat-form-field appearance="fill" class="form-field form-field-whole">
                    <mat-label>New password</mat-label>
                    <input matInput formControlName="newPassword" type="password" required>
                    <mat-error *ngIf="this.newPassword?.errors?.required">New password is required.</mat-error>
                </mat-form-field>
            </div>
            <div class="form-field-group">
                <!--Repeated password-->
                <mat-form-field appearance="fill" class="form-field form-field-whole">
                    <mat-label>Repeated new password</mat-label>
                    <input matInput formControlName="repeatedPassword" type="password" required>
                    <mat-error *ngIf="this.repeatedPassword?.errors?.required">Repeated new password is required.</mat-error>
                    <mat-error *ngIf="this.form?.errors?.match">Passwords do not match.</mat-error>
                </mat-form-field>
            </div>
        </mat-card-content>

        <mat-divider></mat-divider>
        <mat-card-actions>
            <div class="fill-remaining-space"></div>
            <button mat-raised-button [disabled]="!this.form.valid" type="submit" class="form-field"
            color="primary"><mat-icon>keyboard_tab</mat-icon> Change data</button>
        </mat-card-actions>
    </mat-card>
</form>