<div class="mat-h1">Home page</div>
<mat-divider class="horizontal-line"></mat-divider>

<div class="alert" *ngIf="this.mainAlert" [ngClass]="this.mainAlert.type ? 'alert-' + this.mainAlert.type : ''">
    <span>{{ this.mainAlert.message }}</span>
    <span class="fill-remaining-space"></span>
    <button mat-raised-button (click)="this.mainAlertDismiss()">&times;</button>
</div>

<mat-card class="card card-about">
    <mat-card-header>
        <mat-card-title>What is that and what for?</mat-card-title>
        <mat-card-subtitle>Description and goals of application development</mat-card-subtitle>
    </mat-card-header>
    <mat-divider class="horizontal-line"></mat-divider>
    <mat-card-content>
        <p>
            The <b>{{ this.title }}</b> application is a solution for managing AdventureWorks2017 data warehouse.
            It provides basic CRUD (create, read, update, delete) operations for each of data warehouse main entities.
            This is done via so called admin pannels.
            Due to the well planned admin pannel tables with such components like: row coloring, header sorting,
            pagination, etc. the data are well visible.
        </p>
        <p>
            The users of <b>{{ this.shortTitle }}</b> could sign up (register) via the included form. Every time after the user signs in he
            could change his personal data or credentials.
            The users may have full or readonly access. Users with readonly access may only view the data and cannot
            create, update or delete any entries.
            Users can also permanently remove their accounts.
        </p>
        <p><b>ENJOY</b>, <i>Dzhejkob Awaria</i></p>
        <img mat-card-image class="card-image card-image-reduced" alt="Dzhejkob Awaria autograph" src="/assets/images/dzhawaria_autograph_capitals.png">
    </mat-card-content>
    <mat-divider class="horizontal-line"></mat-divider>
    <mat-card-actions>
        <a routerLink="/author"><button mat-button><mat-icon>info</mat-icon> ABOUT ME</button></a>
        <a href="{{ this.emailUrl }}"><button mat-button><mat-icon>email</mat-icon> TEXT ME</button></a>
    </mat-card-actions>
</mat-card>