<mat-card class="card card-error">
    <mat-card-header>
        <mat-card-title>500 Internal Server Error</mat-card-title>
    </mat-card-header>
    <mat-divider class="horizontal-line"></mat-divider>
    <mat-card-content>
        <div class="number">500</div>
        <div class="text">An internal server error occurred. Please contact author for support.</div>
        <div class="details">
            <div>URL address: {{ this.url }}</div>
            <div>Error message: {{ this.message }}</div>
        </div>
    </mat-card-content>
    <mat-divider class="horizontal-line"></mat-divider>
    <mat-card-actions>
        <div class="fill-remaining-space"></div>
        <a href="mailto:{{ this.emailUrl }}"><button mat-button><mat-icon>email</mat-icon> CONTACT SUPPORT</button></a>
    </mat-card-actions>
</mat-card>
