<div class="mat-h1">About author</div>
<mat-divider class="horizontal-line"></mat-divider>

<mat-card class="card card-about">
    <mat-card-header>
        <mat-card-title-group>
            <div mat-card-avatar class="avatar"></div>
            <mat-card-title>{{ this.author.name }}</mat-card-title>
            <mat-card-subtitle>{{ this.author.position }}</mat-card-subtitle>
        </mat-card-title-group>
    </mat-card-header>
    <mat-divider class="horizontal-line"></mat-divider>
    <mat-card-content>
        <p>The various aspects of computer science were in my fields of interests since pre-school childhood. I
            participated in many IT-related events during school and then university studying. In January 2019 I got a BSc
            degree in computer science defending the thesis of web application for supporting the vehicle service
            station. The solution combined the SQL Server database with ASP.NET MVC C# application.</p>
        <p>During MSc degree studies I established solution for <a href="{{ this.author.urls.projects.MFD }}" class="link">masked
            faces detection</a>, which not only detects faces on static images, but also tells which part of face
            (in &percnt;) is masked. Finnaly it says what/which thing/item covers the detected face.</p>
        <p>In July 2021 in graduated the Data Science specialization on the <a href="https://pwr.edu.pl/" class="link">Wroclaw 
            University of Science and Technology</a> defending the MSc thesis of <a href="{{ this.author.urls.projects.HSD }}" class="link">
            "Hate Speech in social media detection"</a>. The solution first detects sentences containing hate speech and 
            second tells which type of hate speech (racism, homophobia, xenophobia, etc.) that is.</p>
        <p>You can find this and many other projects on my GitHub profile.</p>
        <p><b>ENJOY</b></p>
        <img mat-card-image class="card-image" alt="Dzhejkob Awaria photograph" src="/assets/images/profile.png">
        <img mat-card-image class="card-image card-image-reduced" alt="Dzhejkob Awaria autograph" src="/assets/images/dzhawaria_autograph_written.png">
    </mat-card-content>
    <mat-divider class="horizontal-line"></mat-divider>
    <mat-card-actions>
        <a href="{{ this.author.urls.github }}"><button mat-button><mat-icon>view_list</mat-icon> GITHUB PROJECTS</button></a>
        <a href="{{ this.author.urls.linkedin }}"><button mat-button><mat-icon>work</mat-icon> VIEW LINKEDIN PROFILE</button></a>
        <a href="{{ this.author.urls.facebook }}"><button mat-button><mat-icon>thumb_up</mat-icon> FIND ME ON FACEBOOK</button></a>
        <a href="{{ this.emailUrl }}"><button mat-button><mat-icon>email</mat-icon> TEXT ME</button></a>
    </mat-card-actions>
</mat-card>