<mat-drawer-container>
  <mat-drawer #drawer mode="side" opened>
    <h1 style="padding: 15px 16px">{{ this.shortTitle }}</h1>
    <mat-list role="list" class="side-bar">
      <a *ngFor="let vl of this.viewLinks" href="{{ vl.url }}"><mat-list-item role="listitem">{{ vl.name }}</mat-list-item></a>
    </mat-list>
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar class="right-side-navbar">
      <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="drawer.toggle()">reorder</mat-icon>
      <h1 style="margin-left: 10px;">{{ this.title }}</h1>
      <span class="fill-remaining-space"></span>
      <!--menu-component-->
      <app-nav-menu></app-nav-menu>
    </mat-toolbar>
    <ng-scrollbar #scrollable track="vertical" [autoHeightDisabled]="false">
      <div class="right-side-main-container">
        <router-outlet></router-outlet>
      </div>
    </ng-scrollbar>
  </mat-drawer-content>
</mat-drawer-container>