<!-- Title and actions -->
<div class="header-actions">
    <div class="mat-h1">
        <span *ngIf="this.formMode === EFormMode.ADD">New person</span>
        <span *ngIf="this.formMode === EFormMode.EDIT">Change persons data</span>
    </div>
    <div class="fill-remaining-space"></div>
    <button class="action" mat-stroked-button color="primary" (click)="this.return()">
        <span class="label"><mat-icon>keyboard_return</mat-icon> Back</span>
    </button>
</div>

<!-- Alert -->
<div class="alert" *ngIf="this.mainAlert" [ngClass]="this.mainAlert.type ? 'alert-' + this.mainAlert.type : ''">
    <span>{{ this.mainAlert.message }}</span>
    <span class="fill-remaining-space"></span>
    <button mat-raised-button (click)="this.mainAlert = null">&times;</button>
</div>

<!-- Loading spinner -->
<div class="spinner-container" *ngIf="this.isLoaderUp">
    <mat-spinner></mat-spinner>
</div>

<!-- Persons form -->
<form class="form form-admin" [formGroup]="this.form" (ngSubmit)="this.submit()">
    <mat-card>
        <mat-card-header *ngIf="this.formMode === EFormMode.ADD">New person registration</mat-card-header>
        <mat-card-header class="long-title" *ngIf="this.formMode === EFormMode.EDIT">Changing persons '{{ this.personsFullName }} ({{ this.viewId }})' data</mat-card-header>
        <mat-divider class="horizontal-line"></mat-divider>

        <mat-card-content>
            <div class="mat-h6 hint-header">&lowast;&nbsp;&minus;&nbsp;required&nbsp;fields</div>
            <div class="mat-h6 hint-header">[hint]&nbsp;&minus;&nbsp;field&nbsp;hint&nbsp;tooltips</div>
            <div class="mat-h2">Full name</div>
            <div class="form-field-group form-field-group-inline">
                <!--First name-->
                <mat-form-field appearance="fill" class="form-field form-field-medium">
                    <mat-label>First name</mat-label>
                    <input matInput formControlName="firstName" nullDefault required>
                    <mat-error *ngIf="this.firstName?.errors?.required">First name is required.</mat-error>
                </mat-form-field>

                <!--Middle name-->
                <mat-form-field appearance="fill" class="form-field form-field-medium">
                    <mat-label>Middle name</mat-label>
                    <input matInput formControlName="middleName" nullDefault>
                </mat-form-field>

                <!--Last name-->
                <mat-form-field appearance="fill" class="form-field form-field-medium">
                    <mat-label>Last name</mat-label>
                    <input matInput formControlName="lastName" nullDefault required>
                    <mat-error *ngIf="this.lastName?.errors?.required">Last name is required.</mat-error>
                </mat-form-field>
            </div>

            <div class="mat-h2">Name details</div>
            <div class="form-field-group form-field-group-inline">
                <!-- Title -->
                <mat-form-field appearance="fill" class="form-field form-field-shorter">
                    <mat-label>Title</mat-label>
                    <input matInput formControlName="title" type="text" nullDefault [matAutocomplete]="autoTitle">
                    <mat-hint class="hint-tooltip" matTooltip="Example: Mr., Mrs., Ms.">[hint]</mat-hint>
                    <mat-autocomplete autoActiveFirstOption #autoTitle="matAutocomplete">
                        <mat-option *ngFor="let t of this.personDefaults.titles" [value]="t">{{ t }}</mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <!-- Suffix -->
                <mat-form-field appearance="fill" class="form-field form-field-shorter">
                    <mat-label>Suffix</mat-label>
                    <input matInput formControlName="suffix" type="text" nullDefault [matAutocomplete]="autoSuffix">
                    <mat-hint class="hint-tooltip" matTooltip="Example: Jr., Sr.">[hint]</mat-hint>
                    <mat-autocomplete autoActiveFirstOption #autoSuffix="matAutocomplete">
                        <mat-option *ngFor="let s of this.personDefaults.suffixes" [value]="s">{{ s }}</mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <!--Name style-->
                <mat-form-field appearance="fill" class="form-field form-field-longer" matTooltip="">
                    <mat-label>Name style</mat-label>
                    <mat-select matInput formControlName="nameStyle" type="text" nullDefault>
                        <mat-option [value]="null">----</mat-option>
                        <mat-option *ngFor="let ns of this.personDefaults.nameStyles | keyvalue" [value]="ns.key">{{ ns.value }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="this.nameStyle?.errors?.required">Name style is required.</mat-error>
                </mat-form-field>
            </div>

            <div class="mat-h2">Business details</div>
            <div class="form-field-group">
                <!--Person type-->
                <mat-form-field appearance="fill" class="form-field form-field-whole">
                    <mat-label>Person type</mat-label>
                    <mat-select matInput formControlName="personType" type="text" nullDefault>
                        <mat-option [value]="null">----</mat-option>
                        <mat-option *ngFor="let pt of this.personDefaults.types | keyvalue" [value]="pt.key">{{ pt.key }}&nbsp;&minus;&nbsp;{{ pt.value }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="this.personType?.errors?.required">Person type is required.</mat-error>
                </mat-form-field>

                <!--Email promotion-->
                <mat-form-field appearance="fill" class="form-field form-field-whole">
                    <mat-label>Email promotion</mat-label>
                    <mat-select matInput formControlName="emailPromotion" type="number" nullDefault>
                        <mat-option [value]="null">----</mat-option>
                        <mat-option *ngFor="let ep of this.personDefaults.emailPromotions | keyvalue" [value]="+ep.key">{{ ep.key }}&nbsp;&minus;&nbsp;{{ ep.value }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="this.emailPromotion?.errors?.required">Email promotion is required.</mat-error>
                    <mat-error *ngIf="this.emailPromotion?.errors?.min || this.emailPromotion?.errors?.max">Email promotion should have value 0, 1 or 2.</mat-error>
                </mat-form-field>
            </div>

            <div class="mat-h2">Additional details</div>
            <div class="form-field-group">
                <!-- Additional contact info -->
                <mat-form-field appearance="fill" class="form-field form-field-whole"
                (click)="this.openXMLEditor(EXMLField.PERSON_ACI)" (keyup.enter)="this.openXMLEditor(EXMLField.PERSON_ACI)">
                    <mat-label>Additional contact info</mat-label>
                    <textarea matInput formControlName="additionalContactInfo" nullDefault readonly></textarea>
                    <mat-hint class="hint-tooltip" matTooltip="Click on the field to open XML editor dialog.">[hint]</mat-hint>
                </mat-form-field>

                <!-- Demographics -->
                <mat-form-field appearance="fill" class="form-field form-field-whole"
                (click)="this.openXMLEditor(EXMLField.PERSON_DEMO)" (keyup.enter)="this.openXMLEditor(EXMLField.PERSON_DEMO)">
                    <mat-label>Demographics</mat-label>
                    <textarea matInput formControlName="demographics" nullDefault readonly></textarea>
                    <mat-hint class="hint-tooltip" matTooltip="Click on the field to open XML editor dialog.">[hint]</mat-hint>
                </mat-form-field>
            </div>

        </mat-card-content>

        <mat-divider></mat-divider>
        <mat-card-actions>
            <button mat-raised-button color="warn" type="reset">Clear</button>
            <div class="fill-remaining-space"></div>
            <button mat-raised-button [disabled]="!this.form.valid" type="submit" class="form-field"
                color="primary"><mat-icon>check</mat-icon> Confirm</button>
        </mat-card-actions>
    </mat-card>
</form>