<button class="button-nav-menu" mat-raised-button [matMenuTriggerFor]="personMenu" 
    #personTooltip="matTooltip" matTooltip="{{ this.readonlyWarning }}" matTooltipPosition="left"
    [matTooltipDisabled]="!this.isAuthenticated || !this.currentUser?.isReadonly" 
    [color]="this.isAuthenticated && this.currentUser?.isReadonly ? 'warn' : null">
    <span *ngIf="!this.isAuthenticated"><mat-icon>lock</mat-icon> Not signed in</span>
    <span *ngIf="this.isAuthenticated"><mat-icon>lock_open</mat-icon> Hello, <b>{{ this.currentUser?.fullName }}</b></span>
</button>
<mat-menu class="nav-menu" #personMenu="matMenu" xPosition="before">
    <button mat-menu-item *ngIf="!this.isAuthenticated" routerLink="/authenticate"><mat-icon>person</mat-icon> Sign in</button>
    <button mat-menu-item *ngIf="!this.isAuthenticated" routerLink="/register"><mat-icon>person_add</mat-icon> Sign up</button>
    <button mat-menu-item *ngIf="this.isAuthenticated" routerLink="/profile"><mat-icon>info</mat-icon> View profile</button>
    <button mat-menu-item *ngIf="this.isAuthenticated" routerLink="/change-data"><mat-icon>edit</mat-icon> Change your data</button>
    <button mat-menu-item *ngIf="this.isAuthenticated" routerLink="/change-credentials"><mat-icon>laptop</mat-icon> Change credentials</button>
    <mat-divider *ngIf="this.isAuthenticated"></mat-divider>
    <button mat-menu-item *ngIf="this.isAuthenticated" (click)="this.signOut()"><mat-icon>exit_to_app</mat-icon> Sign out</button>
</mat-menu>