<button class="button-nav-menu" mat-raised-button [matMenuTriggerFor]="personMenu">
    <span *ngIf="!this.isAuthenticated"><mat-icon>lock</mat-icon> Not signed in</span>
    <span *ngIf="this.isAuthenticated"><mat-icon>lock_open</mat-icon> Signed in as <b>{{ this.username }}</b></span>
</button>
<mat-menu class="nav-menu" #personMenu="matMenu" xPosition="before">
    <button mat-menu-item *ngIf="!this.isAuthenticated" (click)="this.signIn()"><mat-icon>person</mat-icon> Sign in</button>
    <button mat-menu-item *ngIf="!this.isAuthenticated" (click)="this.signUp()"><mat-icon>person_add</mat-icon> Sign up</button>
    <button mat-menu-item *ngIf="this.isAuthenticated" (click)="this.viewProfile()"><mat-icon>info</mat-icon> View profile</button>
    <button mat-menu-item *ngIf="this.isAuthenticated" (click)="this.signOut()"><mat-icon>exit_to_app</mat-icon> Sign out</button>
</mat-menu>