<form [formGroup]="this.form" (submit)="this.confirm()">
    <div class="mat-h1" mat-dialog-title>Account removal</div>
    <div mat-dialog-content>
        <div class="mat-body-strong">This action cannot be undone. Are you sure, you wanna delete your account?</div>
        <div class="form-field-group-above">
            <!--Confirmation password-->
            <mat-form-field *ngIf="this.showPassword" appearance="fill" class="form-field form-field-whole">
                <mat-label>Password</mat-label>
                <input matInput formControlName="confirmationPassword" required (input)="this.clearError()">
                <mat-hint>Type in your password to confirm.</mat-hint>
                <mat-error *ngIf="this.confirmationPassword?.errors?.required">Type in your password.</mat-error>
                <mat-error *ngIf="this.confirmationPassword?.errors?.password">Cannot delete account. Wrong password provided.</mat-error>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close (click)="this.cancel()">No</button>
        <div class="fill-remaining-space"></div>
        <button *ngIf="!this.showPassword" mat-button color="warn" (click)="this.showConfirmationPasswordField()">Yes</button>
        <button *ngIf="this.showPassword" mat-button type="submit" color="warn" [disabled]="!this.form.valid">Confirm</button>
    </div>
</form>