/* Basic */
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

$theme-color: #54a0ff;
$hover-opacity: rgba(0,0,0,.04);

/*Angular Material colors*/
$material-primary: #3f51b5;
$material-accent: #ff4081;
$material-warn: #f44336;

/*Bootstrap colors & classes*/
$bootstrap-primary: #0275d8;
$bootstrap-success: #5cb85c;
$bootstrap-info: #5bc0de;
$bootstrap-warning: #f0ad4e;
$bootstrap-danger: #d9534f;

.bg-primary {
    background-color: $bootstrap-primary;
}
.bg-success {
    background-color: $bootstrap-success;
}
.bg-info {
    background-color: $bootstrap-info;
}
.bg-warning {
    background-color: $bootstrap-warning;
}
.bg-danger {
    background-color: $bootstrap-danger;
}

.text-primary {
    color: $bootstrap-primary;
}
.text-success {
    color: $bootstrap-success;
}
.text-info {
    color: $bootstrap-info;
}
.text-warning {
    color: $bootstrap-warning;
}
.text-danger {
    color: $bootstrap-danger;
}

.alert{
    padding: 20px;
    margin-bottom: 15px;
    text-align: center;
    border-radius: 5px;
    display: flex;

    span:first-child {
        margin: auto;
        font-size: 18px;
    }

    button {
        background-color: transparent !important;
        font-size: 30px;
    }
}

.alert-primary {
    background-color: $bootstrap-primary;
    color: white;
}
.alert-success {
    background-color: $bootstrap-success;
    color: black;
}
.alert-info {
    background-color: $bootstrap-info;
    color: black;
}
.alert-warning {
    background-color: $bootstrap-warning;
    color: black;
}
.alert-danger {
    background-color: $bootstrap-danger;
    color: black;
}

/*Sidenav and toolbar*/
.mat-drawer-container {
    height: 100vh !important;

}

.mat-drawer-inner-container {
    width: 300px !important;
    background-color: $theme-color;
}

.mat-icon,
.mat-drawer h1,
.mat-drawer span,
.mat-toolbar h1 {
    cursor: pointer !important;
    color: white !important;
}

.right-side-navbar {
    padding: 15px !important;
    background-color: $theme-color;
    display: flex !important;

    &>h1 {
        text-align: center !important;
        padding: 0 !important;
        margin: auto;
    }
}

.mat-list-base {
    padding-top: 30px !important;
}

.mat-drawer {
    a {
        text-decoration: none;
        color: inherit;
    }

    .mat-mdc-list-item {
        cursor: pointer !important;

        &:hover {
            background: $hover-opacity;
        }
    }
}

.button-nav-menu {
    background-color: transparent !important;
    color: white !important;

    &.mat-primary {
        background-color: $material-primary !important;
    }
    &.mat-accent {
        background-color: $material-accent !important;
    }
    &.mat-warn {
        background-color: $material-warn !important;
    }

    .mat-icon {
        position: relative;
        right: 5px;
        top: 5px;
    }
}

.nav-menu {
    background-color: $theme-color;
    color: white;
}

/*Main container*/
div.right-side-main-container {
    padding: 10px 0px;
    margin: 0px 20px;
    max-height: calc(100vh - 100px);
}

.horizontal-line {
    margin-bottom: 10px !important;
}

/*Cards*/
.card {
    margin-bottom: 40px;

    a {
        text-decoration: none;
    }

    a.link {
        text-decoration: underline;
        font-weight: bold;
        color: black;
    }

    mat-card-header {
        margin-bottom: 10px;
    }
    mat-card-content {
        margin-bottom: 10px;
    }

    button[color='warn'] mat-icon {
        color: white !important;
    }

    mat-icon {
        color: black !important;
    }
}

.card-profile-view {
    max-width: 80%;
    margin: 40px auto 40px auto;

    .cell-label div {
        justify-content: right;
        right: 10px;
        font-weight: bold;
    }

    .cell-value div {
        justify-content: left;
        left: 10px;
    }

    mat-card-actions .link:not(:first-child):not(:last-child) {
        margin-left: 10px;
    }

    mat-icon {
        font-size: 24px !important;
        position: relative !important;
        width: unset !important;
        height: unset !important;
    }
}

/*Pannels*/
.accordion {
    margin-bottom: 40px;

    .mat-icon {
        color: black !important;
        margin-right: 10px;
    }

    .mat-expansion-panel-header {
        border-bottom: 1px solid rgba(0,0,0,.12);
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .mat-expansion-panel-header-description {
        justify-content: space-between;
        align-items: center;
    }

    .mat-expansion-panel-body {
        padding-top: 16px;
    }

    img {
        width: 100%;
        height: auto;
    }
}

/*Lists*/
mat-list {
    mat-list-item.muted {
        opacity: 0.5;
    }
}

/*Forms*/
.form {
    margin-top: 30px;
    margin-bottom: 30px;

    mat-card {
        max-width: 60%;
        margin: auto;

        mat-card-header {
            margin: 0 auto 15px auto;
            font-size: 30px;
        }

        mat-card-actions {
            padding: 0 16px;
            display: flex;
            justify-content: flex-end;

            button {
                margin-right: 0;

                &:not([color]) {
                    color: black !important;
                    mat-icon {
                        color: black !important;
                    }

                    &:disabled {
                        color: rgba(0, 0, 0, 0.38) !important;
                    }
                }
                &:disabled mat-icon {
                    color: rgba(0, 0, 0, 0.38) !important;
                }
                &[color='warn'] mat-icon {
                    color: white !important;
                }
            }
        }

        mat-icon {
            font-size: 24px !important;
            position: relative !important;
            width: unset !important;
            height: unset !important;
        }
    }
}

.form-authentication {
    mat-card {
        max-width: 30%;

        .mat-small {
            text-align: right;
        }
    }
}

.form-registration {
    mat-card {
        .mat-small {
            text-align: right;
        }
    }
}

.form-field-group-above {
    margin-top: 15px !important;
}
.form-field-group {
    margin-bottom: 15px !important;
}

.form-field {
    margin-right: 10px;
}

.form-field-short {
    width: 160px;
}
.form-field-medium {
    width: inherit; /*212px*/
}
.form-field-long {
    width: 260px;
}
.form-field-address {
    width: 320px;
}
.form-field-textarea {
    width: 600px;
}
.form-field-whole {
    width: 100%;
}

.label-checkable {
    margin-right: 6px;
}