<!-- Alert message -->
<div class="alert" *ngIf="this.mainAlert" [ngClass]="this.mainAlert.type ? 'alert-' + this.mainAlert.type : ''">
    <span>{{ this.mainAlert.message }}</span>
    <span class="fill-remaining-space"></span>
    <button mat-raised-button (click)="this.mainAlert = null">&times;</button>
</div>


<!-- Authentication form -->
<form class="form form-authentication" [formGroup]="this.form" (ngSubmit)="this.login()">
    <mat-card>
        <mat-card-header>Sign in</mat-card-header>
        <mat-divider class="horizontal-line"></mat-divider>

        <mat-card-content>
            <div class="form-field-group">
                <mat-form-field appearance="fill" class="form-field form-field-whole">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username" required>
                    <mat-error *ngIf="this.username?.errors?.required">Username is required.</mat-error>
                </mat-form-field>
            </div>
            <div class="form-field-group">
                <mat-form-field appearance="fill" class="form-field form-field-whole">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" type="password" required>
                    <mat-error *ngIf="this.password?.errors?.required">Password is required.</mat-error>
                </mat-form-field>
            </div>

            <div class="mat-small">Don't have an account? <a routerLink="/register">Sign up</a></div>
        </mat-card-content>

        <mat-divider></mat-divider>
        <mat-card-actions>
            <div class="fill-remaining-space"></div>
            <button mat-raised-button [disabled]="!this.form.valid" type="submit" class="form-field"><mat-icon>keyboard_tab</mat-icon> Sign in</button>
        </mat-card-actions>
    </mat-card>
</form>